/* Utility Classes */
.contact-container {
  padding-top: 2rem;
  padding-bottom: 4rem;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-left: auto;
  margin-right: auto;
  max-width: 46rem;
}

.heading {
  margin-bottom: 1rem;
  font-size: 2.5rem;
  font-weight: 800;
  text-align: center;
  color: var(--clr-light);
}

.description {
  margin-bottom: 2rem;
  text-align: center;
  color: var(--clr-slate600);
  font-size: var(--size-xl);
}

.form {
  margin-top: 2rem;
}

.form-group {
  margin-bottom: 1rem;
}

.label {
  display: block;
  margin-bottom: 0.5rem;
  font-weight: 500;
  color: var(--clr-slate400);
}

.input,
.textarea {
  display: block;
  width: 100%;
  padding: 0.625rem;
  color: var(--clr-light);
  background-color: var(--clr-slate800);
  border-radius: 0.25rem;
  outline: none;
  border: none;
}

.input::placeholder {
  color: var(--clr-slate600);
}

.textarea {
  resize: none;
  height: 6rem;
}

.textarea::placeholder {
  color: var(--clr-slate600);
}

.dark {
  background-color: #111;
}

.dark .description {
  color: #ccc;
}

.dark .label {
  color: #ccc;
}

.dark .input,
.dark .textarea {
  color: #fff;
  background-color: #333;
  border-color: #555;
}

.dark .button {
  background-color: #0044a6;
}

.dark .button:hover {
  background-color: #003ea6;
}

.dark .button:focus {
  box-shadow: 0 0 0 2px rgba(0, 68, 166, 0.5);
}
